# Exemplo de variáveis de ambiente para o server
#Padrão
DATABASE_URL="file:./dev.db"
#Porta na qual o backend vai rodar
PORT=6767
#A chave utilizada pelo JWT para assinar os cookies de sessão
KEY = ney